include ../mixins/sub-menu.pug

header.header 
  .header-top 
    .container 
      .row 
        .col-12 
          .welcome-message
            p Welcome to Debaco online store

  .container 
    .row 
      .col-12
        .header-main
          .inner-logo 
            a(href="#")
              img(src="/images/logo.png", alt="Logo")
          .inner-icons
            ul 
              li 
                a(href="/cart" class="minicart-btn")
                  i(class="fa-solid fa-cart-shopping") 
                  a (#{miniCart ? miniCart.totalQuantity: 0})
              if(user) 
                li 
                  a(href="/user/logout") Đăng xuất 
              else 
                li 
                  a(href="/user/login") Đăng nhập
                li 
                  a(href="/user/register") Đăng ký
        
      .row 
        .col-12 
          .header-end 
            .row
              .col-3
                .inner-search 
                  form(
                    action="/search" 
                    method="GET"
                  )
                    .form-group 
                      input(
                        type="text"
                        placeholder="Nhập từ khoá..."
                        class="form-control"
                        name="keyword"
                      )
                      button(
                        type="submit"
                        class="btn btn-primary"
                      )   
                        i(class="fa-solid fa-magnifying-glass")
              .col-9
                .inner-menu 
                  ul 
                    li 
                      a(href="/") Home 
                    li(class="sub-menu")
                      - const pathProduct = "/products";
                      a(href=pathProduct) Sản phẩm
                        +sub-menu(layoutProductsCategory, pathProduct)