extends ../../layouts/default.pug

block main 
  //- breadcrumb area start
  .breadcrumb-area
    h1 Shop 
    ul 
      li 
        a(href="/" class="fa-home")
          i(class="fa-solid fa-house")
      li 
        a(href="/")
          | Shop
    //- End breadcrumb area start

    //- List-products
  .list-products
    .container
      .row.g-4
        each item in products
          .col-12.col-md-6.col-lg-4
            .inner-item.featured
              .highlight-badge Mới
              .discount #{item.discountPercentage}%
              .inner-image  
                img(src=item.thumbnail alt=item.title)
              .product-info
                h3.product-name #{item.title}
                p.product-description #{item.description}
                .product-price
                  span.price-new #{item.priceNew}$
                  span.price-old #{item.price}$
